:root{
    --grid-cols:1;
    --grid-rows:1;
}
body{
    margin: 0;
    background-color: #E0610E;
}
.wrapper{
    display: flex;
    flex-direction: column;
}
.sketch-container{
    display: grid;
    grid-template-columns: repeat(var(--grid-cols),1fr);
    grid-template-rows: repeat(var(--grid-rows),1fr);
    width: 700px;
    height: 700px;
    background-color: white;
    /* box-shadow: 10px 10px grey; */
}
.drawing-content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.header{
    font-family: Audiowide,serif;
    color: #00B8EE;
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid-item{
    /* padding: 1em; */
    border: 1px solid black;
}


.grid-item-draw{
    background-color: black;
}