:root{
    --grid-cols:1;
    --grid-rows:1;
    --shadow: 0;
    --default-color:black;
}
body{
    margin: 0;
    background-color: #FAC898;
}
.wrapper{
    display: flex;
    flex-direction: column;
}
.sketch-container{
    display: grid;
    grid-template-columns: repeat(var(--grid-cols),1fr);
    grid-template-rows: repeat(var(--grid-rows),1fr);
    width: 700px;
    height: 700px;
    background-color: white;
    /* box-shadow: 10px 10px grey; */
}
.drawing-content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.drawing-options{
    border: solid;
    margin: 20px;
}
.header{
    font-family: Audiowide,serif;
    color: #00B8EE;
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid-item{
    /* padding: 1em; */
    border: 1px solid rgb(0, 0, 0);
}


.grid-item-draw{
    background-color: var(--default-color);
}

.grid-item-draw-rgb{
    background-color: black;
}

.grid-item-draw-shadow{
    background-color: rgba(0, 0, 0, 0);
}

.drawing-options ul{ 
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 20px;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    /* opacity: 0.7; */
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #00B8EE;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #00B8EE;
    cursor: pointer;
}
input[type='color'] {
    -webkit-appearance: none;
    width: 80px;
    height: 80px;
    border: none;
    background-color: #FAC898;
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
}
  
input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}